<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <title>Simple markers</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    <style>
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
        text-align:center;
      }
      #map {
        height: 360px;
        width: 600px;
        margin-left: auto;
        margin-right:auto;
        margin-top:60px;
        /*width:;*/
      }
    </style>

    <script type="text/javascript"
        src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
    <script type="text/javascript">
        var $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
    </script>
    <script type="text/javascript">
    //var currentPosition = {lat: -30, lng: 150}
    var currentPosition;
    var myLatLng;
    var polyCoordinates;
    var poly;
    function update_map() {
      $.getJSON($SCRIPT_ROOT + '/updateMap', {}, function(data) {
        currentPosition = {lat: data.a, lng: data.b};
        myLatLng = {lat: data.a, lng: data.b};
      });
    }

    function get_data() {
          $.getJSON($SCRIPT_ROOT + '/data', {dt:"prevPoints"}, function(data) {
            //console.log(data.result);
            //alert(data.results);
            myLatLng = data.results.slice(-1)[0];
            //alert("getting_data : "+myLatLng);
            currentPosition = myLatLng;
      });
      return myLatLng;
    }

    function reset() {
          $.getJSON($SCRIPT_ROOT + '/reset', {}, function(data) {
            //alert("resetting?")
            //console.log(data.result);
            marker.setMap(null);
            poly.setPath([]);
            get_data();

            setTimeout(map.setCenter(myLatLng),100);
      });
    }

    function get_previous_points() {
      $.getJSON($SCRIPT_ROOT + '/data', {dt:"prevPoints"}, function(data) {
            //console.log(data.result);
            polyCoordinates = data.results;
            //alert("1"+myLatLng);
            console.log(polyCoordinates);
            var path = poly.getPath();
            // add new point
            var arrayLength = polyCoordinates.length;
            for (var i = 0; i < arrayLength; i++) {
              path.push(new google.maps.LatLng(polyCoordinates[i].lat, polyCoordinates[i].lng));
              //Do something
            }
            poly.setPath(path);
      });
    }

    function real_init() {
      myLatLng = get_data();
      setTimeout(initMap,500);
    }

    function initMap() {
      map = new google.maps.Map(document.getElementById('map'), {
        zoom: 4,
        center: myLatLng
      });
      console.log(map);
      marker = new google.maps.Marker({
        position: myLatLng,
        map: map,
        title: 'Hello World!'
      });

      poly = new google.maps.Polyline({
        path: [],
        geodesic: true,
        strokeColor: '#FF0000',
        strokeOpacity: 1.0,
        strokeWeight: 2
      });

      poly.setMap(map);
      get_previous_points();
    }

    function center() {
      map.setCenter(myLatLng);
    }
    </script>
  </head>
  <body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">TrackIt</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#contact">Contact</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>


    <div class="container">

    <div class="starter-template">

    <div id="map"></div>
    <input type="button" onclick=reset() value="reset" />
    <input type="button" onclick=center() value="center map" />
    </div>
    </div>










    <script>
    var map, marker;
    myLatLng = get_data();
    </script>
    
    <script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC3aTTDwdToxjPh3GLm6vug7vBPHxB2-Fc&signed_in=true&callback=real_init"></script>

    <script>
    //get_data();
    setInterval(function() {
      marker.setMap(null);
      marker = new google.maps.Marker({
        position: currentPosition,
        map: map,
        animation: google.maps.Animation.DROP,
        title: 'Hello World!'
      });
    update_map();
      // get existing path
    var path = poly.getPath();
    // add new point
    path.push(new google.maps.LatLng(currentPosition.lat, currentPosition.lng));
    console.log(path);
    // update the polyline with the updated path
    poly.setPath(path);
    }, 5000);
    </script>
  </body>
</html>